preface.pdf
*.run.xml
*.log
*.aux
*.synctex.gz
*.bcf
*.out
*.toc
*.synctex(busy)
*.synctex.gz(busy)
Chapter*/*.aux
Chapter*/*.bcf
Chapter*/*.log
Chapter*/*.synctex.gz
Chapter*/*.run.xml
Chapter*/*.pdf
